<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<array>
		<string>d</string>
		<string>e</string>
		<string>f</string>
	</array>
	<key>5000</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>c</string>
	</array>
</dict>
</plist>
